
<style type="text/css">
.control-label{
	font-weight:600;

}
.form-group{
	margin : 30px;

}
label{
	font-size:18px;
}


</style>

<div style="text-align:center">
<u><h1> Questionnaire de satisfaction </h1></u>
<h1>Visite n° <b>{{ visite.id }} </b></h1>
 </div>
<br />
<i> Afin d'améliorer constamment notre qualité de service, nous vous priions de bien vouloir remplir ce questionnaire de satisfaction. 
Merci. </i>


<div style="">

{{form(form)}}
</div>

<i> Ne pas jeter sur la voie publique.</i>