Bonjour <b>{{ user.prenom|capitalize }}</b>,<br />
Votre compte sur la plateforme Visites Sacclay a été créé.<br />

Vos identifiants sont : <br />
Nom d'utilisateur : <b>{{user.username}}</b><br />
Mot de passe : <b>{{password}}</b><br />
Vous pouvez dès maintenant vous y connecter : <a href="http://visitesaclayjcs.com">visites sacclay</a><br />

N'hésitez pas à changer de mot de passe une fois connecté : <a href="http://visitesaclayjcs.com/profile/change-password"> Changer le mot de passe </a><br />

Cordialement,<br />
l'équipe JCS.



