
{% extends "::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/candidature.css') }}">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block mainContent %}

	<div id="visitecontent" class="main-content">
		<br />


	    <div class="row">   

	        <div class="col-md-2 col-xs-12 col-sm-12 pull-left" id="sidebar">
	        	{% block sidebar %}
	        	{% endblock %}

	        </div>
         
	            {% block body %}


	            {% endblock %} 

	    </div>
	</div>

{% endblock %}



{% block javascript %}


	{{ parent()}}
	    <script>
          
	{% block script_menu_active %}
		$link_active = "#calendar";
	{% endblock %}

  //   	$( ".datepicker" ).datepicker({
		//   dateFormat: "yy-mm-dd 00:00:00"
		// });
  //   	$( '.datepicker' ).datepicker("option", "dateFormat", "yy-mm-dd 00:00:00");

  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 3, // Creates a dropdown of 15 years to control year
    monthsFull: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
 	weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
  	today: 'aujourd\'hui',
 	clear: 'effacer',
 	
    default: 'now', // Set default time
    formatSubmit: "yyyy-mm-dd 00:00:00"
  });
    $('.timepicker').pickatime({
    default: 'now', // Set default time
    fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
    twelvehour: false, // Use AM/PM or 24-hour format
    donetext: 'OK', // text for done-button
    cleartext: 'Clear', // text for clear-button
    canceltext: 'Cancel', // Text for cancel-button
    autoclose: false, // automatic close timepicker
    ampmclickable: true, // make AM PM clickable
    aftershow: function(){} //Function for after opening timepicker  
  });
        
           
      		
   			
	</script>
{% endblock %}