{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div class="headerSidebar">
		Mes visites
	</div>
	<div class="contentSidebar">
	{{ app.user.username }}
	
	iuzaebfaze
	fzaeiufbaizuef
	azfeihazbfahzef
	azefbhazefpazef
	azefbhazefazef
	</div>
{% endif %}