{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	<div class="headerSidebar">
		Mes visites
	</div>
	<div class="contentSidebar">
		<ul>
		{% for event in userApplications %}
			<li><b>{{event.startDatetime|date("d/m/Y", "Europe/Paris")}}</b> :  {{event.title}}</li>
		{% endfor %}
		</ul>
	</div>
	
{% endif %}