
{% extends "::layout.html.twig" %}
{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/candidature.css') }}">
{% endblock %}
{% block mainContent %}

	<div id ="candidature" class=" main-content">


	    <div class="row" id = "rowtop">
	    	<div class=" container">
		        <div class="col-lg-12">
		            <h1>Candidature</h1>
		            <h4>Grâce à notre algorithme basé sur du MachineLearning, nous trouvons le métier idéal vis à vis de vos compétences. </h4>
		        </div>
	    	</div>
	    </div>    


	    <div class="row">
	    	<div class=" container">   
	    		<div class="col-lg-12">             
	            {% block body %}


	            {% endblock %} 
	            </div>    
	        </div>
	    </div>
	</div>

{% endblock %}

{% block script_menu_active %}
	$link_active = "#findajob";
{% endblock %}