@import "compass/css3";
:root{
	
	
	--fondsombre:#2c3e50;
}
.main-content#candidature #rowtop {
	background: var(--fondsombre);
	
	
}

.main-content#candidature #rowtop h1{
	color:#fff;
	
	
}

.main-content#candidature #rowtop h4{
	color:#ecf0f1;
	
	
}

.main-content#candidature .style1{margin:0 auto;width:100%; border: 1px solid var(--main-color);  background: var(--fondsombre);  color:#fff;padding:10px;font-size:15px;}
.main-content#candidature .style1:hover{background: #34495e;color:#fff; )}

.contentremplacementajax {background-color:#fff;padding:10px;border:1px solid #bdc3c7;}
.contentremplacementajax .form-control{ width : 90%; margin: 0 auto; border-radius : 0px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}