<html><body>
Rappel : vous êtes inscrit en tant que conférencier à la visite le <b>{{event.startDatetime|date("d/m/Y", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}}</b>.
<br />
Le lieu de rendez-vous sera : <b>{{event.lieuRdv}}</b>.<br />
Voici les choses à ne pas oublier : <br />
<ul>
	<li> votre badge </li>
	<li> les clés du showroom </li>
	<li> les formulaires de satisfaction </li>
	<li> bien éteindre les lumières et fermer en partant </li> 
</ul></br>
Merci et bonne visite ! <br />
<i> Ce mail a été généré automatiquement, cela ne sert à rien d'y répondre. </i>
</div></body></html>