<html><body>
Rappel : La visite le <b>{{event.startDatetime|date("d/m/Y", "Europe/Paris")}}</b> de <b>{{event.startDatetime|date("H:i", "Europe/Paris")}}</b> à <b>{{event.endDatetime|date("H:i", "Europe/Paris")}}</b> aura lieu dans moins de 72h.
<br />
Il faut s’assurer que le demandeur communique la liste des visiteurs dans moins de 24h. 
<br />
<i> Ce mail a été généré automatiquement, cela ne sert à rien d'y répondre. </i>
</div>

</body></html>