{# Fichier qui overwrite le vendor/friendsofsymfony/FOSUSERBUNDLE/ressources/views/Security/#}

{% extends "@OFUser/layout.html.twig" %}


{% block fos_user_content %}
	<div class="col-md-4 col-xs-12 col-md-offset-4">
    	{{ include('@FOSUser/Security/login_content.html.twig') }}
	</div>
{% endblock %}
