.background-nav-wizard{
	background:#f9f9f9;
	  border-bottom:1px solid #e7e7e7;
  	height: 100%;
  margin-top:-20px;
}
.nav-wizard{
}
ul.nav-wizard {
background-color: #f9f9f9;
*zoom: 1;
position: relative;
  overflow: hidden;
}
ul.nav-wizard:before {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 46px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard:after {
  display: block;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 138px;
  height: 47px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
  z-index: 11;
  content: " ";
}
ul.nav-wizard li {
  position: relative;
  float: left;
  height: 46px;
  display: inline-block;
  text-align: middle;
  padding: 0 20px 0 30px;
  margin: 0;
  font-size: 16px;
  line-height: 46px;
}
ul.nav-wizard li a {
  color: #777;
  padding: 0;
}
ul.nav-wizard li a:hover {
	color: #464646;
  background-color: transparent;
}
ul.nav-wizard li:before {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #d4d4d4;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -16px;
}
ul.nav-wizard li:after {
  position: absolute;
  display: block;
  border: 24px solid transparent;
  border-left: 16px solid #f9f9f9;
  border-right: 0;
  top: -1px;
  z-index: 10;
  content: '';
  right: -15px;
}
ul.nav-wizard li.active {
 	color: #777;
  background: #f9f9f9;
}
ul.nav-wizard li.active:after {
  border-left: 16px solid #f9f9f9;
}
ul.nav-wizard li.active a,
ul.nav-wizard li.active a:active,
ul.nav-wizard li.active a:visited,
ul.nav-wizard li.active a:focus {
  color: #777;
  background: #f9f9f9;
}
ul.nav-wizard .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard .active ~ li a,
ul.nav-wizard .active ~ li a:active,
ul.nav-wizard .active ~ li a:visited,
ul.nav-wizard .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}

ul.nav-wizard li.stepshowed {
  color: #3a87ad;
  background: var(--color-secondaire);
}
ul.nav-wizard li.stepshowed:after {
  border-left: 16px solid var(--color-secondaire);
}
ul.nav-wizard li.stepshowed a,
ul.nav-wizard li.stepshowed a:active,
ul.nav-wizard li.stepshowed a:visited,
ul.nav-wizard li.stepshowed a:focus {
  color: #fff;
  background: var(--color-secondaire);
}



ul.nav-wizard.nav-wizard-backnav li:hover {
  color: #000;
  background: var(--color-secondaire);
}
ul.nav-wizard.nav-wizard-backnav li:hover:after {
  border-left: 16px solid #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav li:hover a,
ul.nav-wizard.nav-wizard-backnav li:hover a:active,
ul.nav-wizard.nav-wizard-backnav li:hover a:visited,
ul.nav-wizard.nav-wizard-backnav li:hover a:focus {
  color: #000;
  background: #f6fbfd;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li {
  color: #999999;
  background: #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li:after {
  border-left: 16px solid #ededed;
}
ul.nav-wizard.nav-wizard-backnav .active ~ li a,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:active,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:visited,
ul.nav-wizard.nav-wizard-backnav .active ~ li a:focus {
  color: #999999;
  background: #ededed;
}
.stepshowed{
	font-weight:700;
}

#modalVisiteShow .headermodal{
	background-color:var(--color-secondaire);
	color:#fff;
	font-size:40px;
}

.dotElementVisite{
  margin-left:-12px;
  margin-top:2px;
  border-radius:50%;
  background-color:var(--color-secondaire);
  width:20px;
  height:20px;
  border:4px solid var(--color-secondaire-hover);
}
.titreElementVisite{
  padding-left: 20px;
  
  padding-top : 16px;
  padding-bottom: 8px;
  margin-top : -5px;
}
.elementPreview{
  border-left : 5px solid var(--color-secondaire-hover) ;
  padding:0px;
}
.past .elementPreview{
  border-left : 5px solid #27ae60 ;
  padding:0px;
}
.past .dotElementVisite{
  margin-left:-12px;
  margin-top:2px;
  border-radius:50%;
  background-color:#2ecc71;
  width:20px;
  height:20px;
  border:4px solid #27ae60;
}
#add_field{
  border-radius: 50%;
  background-color: var(--color-secondaire);
  z-index: 100;
  border: none;
  float:right;
  margin: 0 auto;
}