<a href="" id="suppr_conferencier" >Se desinscrire</a>
Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Primary</button>



Mettre en validation l'étape : <button type="button" id="validreq" class="btn btn-primary">Primary</button>

