<div class="panel panel-default">
    <div class="panel-heading">
      Formulaire de Visite
    </div>
    <div class="panel-body">
      {% if event.step >= steptoshow %}
        <div class="alert alert-success">
          <strong>Validée. </strong> Cette étape a déjà été validée.
        </div>
      {% elseif event.step|abs == steptoshow and event.step <0 %}
        <div class="alert alert-warning">
          <strong>En cours de validation.</strong> Une demande de validation a déjà été envoyée.
        </div>
        Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
      {% else %}
        Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
        Mettre en Validation : <button type="button" id="validreq" class="btn btn-primary">Valider</button>
      {% endif %}
      {{ form(form) }}

    </div>
</div>