<div class="panel panel-default">
    <div class="panel-heading">
       Envoi du mail
    </div>
    <div class="panel-body">

  Valider l'étape : <button type="button" id="valid" class="btn btn-primary">Valider</button>
    </div>
</div>